<form method="post" action="{{ path('app_login') }}" class="login-page-form-wrapper">
    <h2 class="login-page-form-title">Zaloguj się</h2>

    {% if (info_login ?? false) %}
        <h3 class="login-page-form-subtitle">
            {{ info_login }}
        </h3>
    {% endif %}

    {% include 'components/login-input.html.twig' with {
        id:'login-nick',
        name : 'nick',
        title : 'Nick',
        value : login_username ?? "",
        error : (error ?? false),
        errorMessage : 'Niepoprawny login',
        autocomplete : 'username',
        required :  true
    } %}

    {% include 'components/login-input.html.twig' with {
        id:'login-password',
        name : 'password',
        title : 'Hasło',
        error : (error ?? false),
        errorMessage : 'lub hasło',
        autocomplete : 'current-password',
        required :  true,
        type :  'password'
    } %}

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="submit-button" type="submit">
        Zaloguj się
    </button>
</form>