<form method="post" action="{{ path('app_login') }}" class="login-page-form-wrapper">
    <h2 class="login-page-form-title">Zaloguj się</h2>

    <div class="login-page-input-wrapper">
        <label for="login-nick" class="login-page-input-label">Nick</label>
        <input
                type="text"
                value="{{ last_username ?? "" }}"
                name="id"
                id="login-nick"
                class="login-page-input"
                autocomplete="username"
                required
        >
    </div>

    <div class="login-page-input-wrapper">
        <label for="login-password" class="login-page-input-label">Hasło</label>
        <input
                type="password"
                name="password"
                id="login-password"
                class="login-page-input"
                autocomplete="current-password"
                required
        >
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="submit-button" type="submit">
        Zaloguj się
    </button>
</form>