<form method="post" action="{{ path('app_register') }}" class="register-page-form-wrapper">
    <h2 class="login-page-form-title">lub zarejestruj</h2>

    {% if (info_register ?? false) %}
        <h3 class="login-page-form-subtitle">
            {{ info_register }}
        </h3>
    {% endif %}

    {% include 'components/login-input.html.twig' with {
        id:'register-nick',
        name : 'nick',
        title : 'Nick',
        value : register_nick ?? "",
        error : has_field_error(errors ?? [], 'nick'),
        errorMessage : (errors ?? []) != [] ? get_field_error(errors, 'nick').message : '',
        autocomplete : 'current-password',
        required : true
    } %}

    {% include 'components/login-input.html.twig' with {
        id:'register-password',
        name : 'password',
        title : 'Hasło',
        error : has_field_error(errors ?? [], 'password'),
        errorMessage : (errors ?? []) != [] ? get_field_error(errors, 'password').message : '',
        required : true,
        type :  'password'
    } %}

    {% include 'components/login-input.html.twig' with {
        id:'register-password-repeat',
        name : 'password-repeat',
        title : 'Powtórz hasło',
        error : has_field_error(errors ?? [], 'password-repeat'),
        errorMessage : (errors ?? []) != [] ? get_field_error(errors, 'password-repeat').message : '',
        required : true,
        type :  'password'
    } %}

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="submit-button" type="submit">
        Zarejestruj się
    </button>
</form>