{% extends 'layout/index.html.twig' %}

{% block title %}Główna{% endblock %}

{% block body %}
    <h2>Witaj {{ app.user.nick }}!</h2>
    <div data-controller="currencies">

    </div>
{% endblock %}
