.currency-lister-wrapper {
  display: flex;
  flex-direction: column;

  &.missing {
    color: $colorRed;
  }
}

.currency-lister {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.currency-lister-title {
  margin: 20px 0;
}

.currency-wrapper {
  width: 100%;
}

.currency-item-wrapper {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 5px;
  margin: 5px 0;

  &:hover {
    background: $colorThemeLightDarker;
  }
}

.action-currency-icon {
  font-size: 30px;
  margin: auto 10px auto 15px;
  cursor: pointer;
  transition: color 0.25s ease-in-out;

  &.add:hover {
    color: $colorSuccess;
  }

  &.remove:hover {
    color: $colorRed;
  }
}

.currency-title {

}

.currency-info {
  font-size: 12px;
  text-indent: 10px;
}